<nav class="gm-nav" aria-label="Game master contents">
    <a href="{{ '/adventures/breach-below-bergum/gm/' | relative_url }}">GM Overview</a>
    <a href="{{ '/adventures/breach-below-bergum/gm/adventure/' | relative_url }}">Adventure</a>
    <a href="{{ '/adventures/breach-below-bergum/gm/hazards/' | relative_url }}">Hazards</a>
    <a href="{{ '/adventures/breach-below-bergum/gm/maps/' | relative_url }}">Maps</a>
    <a href="{{ '/adventures/breach-below-bergum/gm/bestiary/barrow-pulse/' | relative_url }}">Bestiary</a>
</nav>
